@import 'bootstrap';

body{
    &:not(.blog) {
        .dmbs-main {
            max-width: 700px;
            margin: 0 auto;
            float: none;
        }
    }
}

a {
    color: $link-color;

    &:hover { color: #333; }

    &, &:hover { text-decoration: none; }
}

img {
    max-width: 100%;
    height: auto;
}

.smaller {
    font-size: 75%;
    position: relative;
    top: -1px;
}

.dmbs-container {}

.dmbs-header {
    background-color: #ffffff;
    transition: all .5s ease;

    .container {
        position: relative;

        @media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
            width: $screen-sm;
            max-width: 100%;
        }
    }

    @media (min-width: $screen-sm-min) {
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

        .logged-in & { margin-top: 32px; }
    }
}

.dmbs-header-img {
    @media (min-width: $screen-sm-min) {
        &.col-sm-4 { width: 30%; }
    }

    img {
        margin: 0;
        width: 100%;
        max-width: 220px;
        padding: 18px 0;
    }
}

.dmbs-header-text {
    @media (min-width: $screen-sm-min) {
        &.col-sm-8 { width: 70%; }
    }
}

.dmbs-top-menu {}

.dmbs-content {
    .full-width-featured-image + &,
    .large-cta + &,
    .small-cta + & { margin-top: 15px; }

    @media (min-width: $screen-sm-min) {
        margin-top: 60px;

        .full-width-featured-image + &,
        .large-cta + &,
        .small-cta + & { margin-top: 30px; }

        .container { padding: 0; }
    }
}

.dmbs-main {
    padding: 0;

    &.col-md-8 { position: relative !important; }
}

.dmbs-main,
.large-cta { font-size: 21.6px; }

.dmbs-left {}

.dmbs-right {
    padding-left: 60px;

    h2.widgettitle {
        color: $brand-primary;
        font-weight: 300;
        font-size: 36px;
    }

    ul.gform_fields li input {
        padding: 7px !important;
        margin-bottom: 5px;
        width: 100% !important;
    }

    .gform_footer input[type=submit] {
        padding: 8px !important;
        width: 100% !important;
    }

    ul.gform_fields li select {
        width: 100% !important;
    }
}

.dmbs-footer-menu {
    .navbar-toggle { display: none; }
}

.dmbs-author-credits {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;

    span { font-size: 14px; }
}

.dmbs-footer {
    background: $brand-primary;
    color: #ffffff;
    line-height: 2.2;
    font-size: 15px;
    font-weight: 100;
    padding: 30px 10px 20px;

    a { color: #fff; }

    .widget {
        h3 {
            font-weight: 100;
            font-size: 29px;
        }

        ul {
            padding-left: 0;
            list-style: none;

            li a {
                font-size: 16px;
                line-height: 2.2;
                padding-top: 10px !important;
            }
        }
    }

    .col-md-12 {
        text-align: center;

        aside {
            vertical-align: top;
            padding-left: 30px;
            padding-right: 30px;

            @media (min-width: 500px) {
                display: inline-block;
                padding: 0;
            }
        }

        .widget_nav_menu {
            ul { margin-bottom: 0; }

            li {
                display: inline-block;
                margin: 0 1em 0 0;

                &:after {
                    display: inline-block;
                    content: '|';
                    position: relative;
                    right: -.5em;
                }

                @media (max-width: 499px) {
                    &:last-child {
                        margin-right: 0;

                        &:after{ display: none; }
                    }
                }
            }
        }
    }
}

.post-meta {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .03em;
    color: silver;
}

.author-meta {
    a { color: #000000; }

    p { line-height: 1.3; }

    .avatar {
        border-radius: 50%;
        float: left;
        margin: 0 15px 0 0;

        &-50 { width: 50px; }
    }
}

.footer-col {
    padding-top: 0px;
    margin-bottom: 20px;
    color: #aba9a9;
    margin-top: 8px;

    p {
        margin-bottom: 0;
        line-height: 1.3;
    }

    .col-md-8 { text-align: right; }

    .col-md-4 {
        padding-top: 8px;
    }
}

.full-width-featured-image {
    padding: 120px 15px;
    text-align: center;
    margin-bottom: 45px;

    @media screen and (min-width: $screen-sm-min) { margin-top: 60px; }
    @media screen and (max-width: $screen-sm-max) {
        padding: 80px 15px;
    }
}

.full-width-featured-image,
.large-cta,
.small-cta {
    color: white;
    background-size: cover;
    background-position: center center;

    @media screen and (max-width: 399px) { text-align: center; }
}

.large-cta,
.small-cta {
    h1, h2 { font-weight: 400; }

    h1 { font-size: 24px; }
    h2 { font-size: 21px; }

    p {
        font-size: 18px;
        font-weight: 300;
    }
}

.large-cta {
    padding: 1em;

    @media screen and (min-width: 600px) {
        padding-top: 2em;
        padding-bottom: 2em;

        h1 {
            font-size: 40px;
            line-height: 1.3;
        }

        .col-xs-12 { max-width: 75%; }
    }
}

.small-cta {
    &.bottom { text-align: center; }
}

.btn.green {
    background-color: #61B55D;
    border-color: #61b55d;
    padding: 10px 50px;
    margin-left: 2px;
    transition: all 0.2s ease-in-out;

    &:hover { padding: 10px 60px; }

    .custom-cta & {
        display: block;
        margin-top: 30px;
    }
}

button.navbar-toggle {
    margin-top: 13px;
}

.nav > li {
    font-size: 12px;

    & li > a {
        padding: 10px 15px;

        @media (min-width: 1100px) { padding: 15px 15px; }
    }
}

.navbar {
    min-height: 0;

    .navbar-toggle {
        margin-right: -10px;

        &, &:hover { background: #fff!important; }

        &:hover, &:focus { background-color: #3178A2; }

        .icon-bar { background-color: black }
    }

    .navbar-nav {
        & > li {
            & > a {
                color: #464646;
                text-transform: uppercase;
                font-size: 16px !important;
                font-weight: 700;

                &:hover, &:focus { color: $link-color; }
            }

            &.active > a {
                &, &:hover, &:focus { color: $link-color; }
            }
        }

        & > .open > a {
            &, &:hover, &:focus {
                background-color: #ffffff;
                color: $link-color;
            }
        }
    }

    @media screen and (max-width: $screen-sm-max) { text-align: center; }
}

.modal-dialog {
    margin: 30px 10px 10px;
}

.modal-title {
    margin: 0;
    text-align: center;
    line-height: 1.42857143;
    font-size: 28px;
    font-weight: 700;
}

.modal-content {
    position: relative;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-body {
    position: relative;
    padding: 5px 50px;
    margin-top: 0px;
    padding-top: 0px;

    li.gfield { width: 100%; }

    .gform_body { width: 100% !important; }

    .gform_footer.top_label {
        width: 100% !important;
        display: block !important;
        text-align: left;
    }

    .homebanner_wrapper .gform_body ul li {
        width: 100%;
        margin: 0 !important;
    }
}

.widget {
    .widget_recent_entries {
        ul {
            padding-left: 0;
            list-style: none;

            li {
                padding-top: 7px;
                padding-bottom: 7px;
                border-bottom: 1px solid #D2D2D2;

                a { color: #464646; }
            }
        }
    }
}

body.search .widget_search {
    text-align: center;
    padding: 10% 0;

    .widgettitle { display: none; }
}

.search-field, .search-submit {
    padding: .5em;
    border: none;
    border-radius: 3px;
    margin: 0 .5em 1em;

    .error404 & { margin-left: 0; }
}

.search-field {
    background: #eee;
    box-shadow: 0 0 1px inset rgba(0, 0, 0, 0.25);
    max-width: 85%;
    width: 20em;
}

.search-submit {
    padding-left: 3em;
    padding-right: 3em;
    background: $brand-primary;
    color: white;
}

form.search-form-mobile label { width: 71%; }

.search-widgets {
    @media (min-width: 768px) {
        aside.widget {
            width: calc(50% - 2em;);
            display: inline-block;
            margin-right: 2em;

            &:last-child { margin-right: 0; }
        }
    }
}

#custom-cta {
    margin-top: 0;

    ul.gform_fields li input { padding: 8px !important; }

    .gform_footer input[type=submit] {
        padding: 8px 15% !important;
        margin: 0 auto;
        display: block;
    }

    .modal-header { border-bottom: none; }

    .close {
        font-weight: 400;
        font-size: 21px;
        color: white;
        text-shadow: none;
        opacity: initial;
    }

    .gform_wrapper { margin-top: 0; }

    .gform_body {
        width: 85%;
        display: inline-block;
    }

    .gfield, .gform_footer { margin-top: 24px; }

    label { display: none; }

    input { text-align: center; }

    .gform_button { width: 100%; }

    .gform_footer {
        padding-top: 0;

        p {
            margin: 0;
            height: 0;
        }

        br { display: none; }
    }

    p.text-center { font-size: 75%; }
}

.home {
    .footertop { display: none; }
}

.gform_wrapper {
    max-width: 100% !important;

    .gform_body {
        @media (max-width: 768px) { width: 100% !important; }
    }

    input, textarea {
        padding: 0.5em 0.5em !important;
        border: none;
    }

    textarea {
        resize: none;
        border: none;
    }

    .field_sublabel_above .ginput_complex.ginput_container {
        label {
            font-size: inherit;
            letter-spacing: normal;
            margin: 16px 0 5px;
        }

        input { margin-top: 8px; }
    }

    ul.gform_fields li.gfield.col-md-4 {
        padding-left: 0;

        @media screen and (min-width: 768px) {
            float: left;
            clear: none;
            margin: 0 15px 16px 0 !important;
            width: calc(33% - 13px) !important;
            padding-right: 0;

            &:nth-child(3n) {
                margin-right: 0 !important;
                width: 33% !important;
            }
        }
    }
}

ul.gform_fields li {
    padding-right: 0 !important;

    input, select, textarea {
        border-radius: 2px;
    }

    select {
        padding: 9.5px;
        color: #868D8D;
        height: 41px;
    }

    input { color: #000000; }
}

#gform_4 {
    input:not([type="submit"]), textarea {
        border: 1px solid silver;
    }
}

.gform_footer input[type=submit] {
    padding: 4px 10px !important;
    border: 0;
    border-radius: 2px;
    background: #61b55d;
    color: #ffffff;
    width: 100%;
}

.gform_ajax_spinner { display: none!important; }

#innerpage .gform_wrapper label.gfield_label + div.ginput_container {
    margin-top: .375em;
    border: solid;
    border-color: #e5e5e5;
    display: block;
}

#input_3_7 {
    padding-left: 10px!important;
}

.footerbanner { padding-top: 0px !important; }

.check-list {
    list-style: none;
    padding-left: 15px;

    li:before {
        font-family: FontAwesome;
        content: "\f00c";
        padding-right: 10px;
        color: #2d86af;
    }
}

.single {}

.blog {
    .post {
        padding: 1em 0;

        .post-meta { margin: 0 0 5px; }

        .page-header { margin-top: 0; }

        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
            width: 50%;
            float: left;

            &:nth-child(odd) {
                .post-lead-img, .post-copy { padding-left: 0; }
            }
            &:nth-child(even) {
                &:after {
                    display: table;
                    content: '\00a0';
                    clear: both;
                }

                .post-lead-img, .post-copy { padding-right: 0; }
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            .post-lead-img, .post-copy {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    .post-lead-img { margin-bottom: 10px; }

    .row { clear: both; }
}

*[rel="author"] { display: inline-block; }

p.read-more { margin-bottom: 0; }

.wp-post-image {
    border-radius: 5px;
}

.prev-next-posts {
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;

    a.btn {
        font-size: 16px;
        border-color: lighten($link-color, 50%);
        color: $link-color;
        margin: 0 0.333em;

        &:hover { background-color: lighten($link-color, 50%); }
    }
}

ul.commentlist {
    padding-left: 20px;
    margin-top: 30px;
}

#commentform input,
#commentform textarea {
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    background-image: none !important;
}

#commentform label {
    min-width: 75px;
}

.comment-body {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;

    .comment-author, .comment-meta { line-height: 1em; }

    .comment-meta.commentmetadata {
        margin-bottom: 20px;

        a {
            margin-bottom: 20px;
            color: #999;
            font-weight: 700;
            font-size: 12px;
        }
    }

    .comment-author .fn {
        &, & a {
            color: #333;
            font-weight: 500;
            font-size: 18px;
        }
    }

    .comment-author .fn a:hover,
    .comment-meta.commentmetadata a:hover {
        text-decoration: none;
        color: #337ab7;
    }
}

.comment-reply-link {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #333;

    &:hover, &:focus {
        background-color: #ccc;
        border-color: #ccc;
        color: #333;
        text-decoration: none;
    }
}

.dmbs-comments .well {
    margin-top: 20px;
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.bottommeta {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;

    .author-meta {
        padding-top: 20px;
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.homebanner_wrapper .gform_body ul li {
    width: 33%;
    display: inline-block;
}

.col-md-3.col-sm-6 .post {
    padding: 0px 00px;
}

/* Contact page */
.page-id-470 {
    .page-header { display: none; }

    .gform_wrapper .gfield_label {
        &[for="input_4_6_3"] {
            display: none;
        }
    }

    .gform_wrapper {
        input:not([type="submit"]),
        .name_first,
        .name_last {
            width: 100% !important;
        }

        .gfield_radio {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 399px) { flex-wrap: wrap; }

            li {
                width: 10%;
                text-align: center;
                @media screen and (max-width: 399px) { width: 20%; }

                input, label {
                    display: block;
                    margin: 0 auto 3px !important;
                }
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .menu-item-has-children:hover .dropdown-menu {
        display: block !important;
    }

    .navbar > li > a {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .modal-dialog {
        margin: 18vh auto;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .dmbs-content {
        padding-top: 0px !important;
    }
}

@media (max-width: $screen-md-min) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none! important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;

        & > li {
            float: none;
        }
    }

    .collapse.in {
        display: block !important;
    }
}

@media (max-width: $screen-sm-max) {
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $link-color;
    }

    .headerlogo {
        text-align: left;
        float: left;
        width: calc(100% - 75px);
        z-index: 5;
    }

    .nav > li {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    ul.gform_fields li input,
    .gform_wrapper ul.gform_fields .ginput_container select {
        width: 100% !important;
    }

    .gform_wrapper ul.gform_fields .ginput_container select {
        margin-bottom: 5px;
        min-height: 42px;
    }

    img.alignright {
        text-align: center;
        display: block;
        float: none;
        margin-bottom: 20px;
    }

    .dmbs-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .footer-col .col-md-4 {
        text-align: center;
        margin-bottom: 30px !important;
    }

    .footer-col .col-md-8 {
        text-align: center !important;
    }

    .footer-col .col-md-4:before {
        margin-left: auto !important;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        position: relative;
        float: none;
    }

    .dropdown-toggle {
        pointer-events: none;
    }

    .post ul,
    .post ol {
        padding-left: 20px !important;
    }

}

@media (max-width: $screen-xs-max) {
    .custom-cta .btn.green {
        display: block;
        margin-top: 30px;
        width: 90%;
        margin-left: 20px;
        font-size: 15px;
    }
}

@media print {
    .dmbs-header-text,
    .dmbs-footer,
    .footer-col,
    .schedule-banner,
    .schedule,
    .search-banner {
        display: none !important;
    }
    a[href]:after {
        content: none !important;
    }
    .headerlogo {
        width: 100%;
        text-align: center;
    }
}
