/**
*
* THE EVENTS CALENDAR :: STYLES
*
**/

#tribe-events {
    margin-top: 125px;
}
#lp-signup-steps {
    text-align: center;
}
#lp-signup-steps .step-num {
    display: block;
    width: 50px;
    height: 50px;
    background: #01436b;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    border-radius: 50%;
    border: 3px solid #2d86af;
    margin: 0 auto;
}
#lp-signup-steps .step-label {
    margin: 5px auto;
    font-size: 18px;
    color: #464646;
    font-weight: bold;
    text-transform: uppercase;
}
#tribe-bar-form .tribe-bar-submit input[type=submit] {
    background-color: #2d86af;
}

/* Calendar View */
.tribe-events-calendar th {
    background-color: #01436b;
    color: #fff;
}
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
    background-color: #2d86af;
}
