/* WordPress Core */

.gallery-caption {
  font-weight: bold;
}

.alignnone {
  margin: 0 5px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 5px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

img.alignnone {
  max-width: 96%;
  height: auto;
  width: auto;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Recommended CSS from WP for defined content width support */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

iframe,
embed {
  max-width: 100%;
}

/* Sticky Post */

.sticky {
  background: $gray-lighter;
  padding: 20px 20px 20px 20px;
}

/* Comments */

.comment-form-comment #comment {
  width: 100%;
}

.commentlist li {
  list-style: none;
}

.comment-author, .comment-edit-link {
  font-weight: bold;
}


.comment-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-reply-link {

  @extend .btn,.btn-success;


}


.comment-respond #submit {

  @extend .btn,.btn-info;

}

.comment-respond code {
  white-space: pre-wrap;
}


/* Post Thumbnail */

.attachment-post-thumbnail {
  float: left;
  margin: 0px 10px;
}

/* Calendar Widget */

#wp-calendar {

  @extend .table;

}

#wp-calendar #prev a, #wp-calendar #next a {

  @extend .btn,.btn-warning,.btn-sm;

}

#wp-calendar td a {

  @extend .btn,.btn-info;

}

/* Search Form Widget */

#searchform #searchsubmit {
  @extend .btn,.btn-info;
  margin-top: 5px;
}

#searchform #s {

  @extend .form-control;

}

.widget {
  margin-bottom: 5px;
}

/* Tables */

table {

  @extend .table;

}

/* Post text Wrap Fixes */

.post {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
